
  .custom-button {
    min-width: 360px;
    width: auto;
    height: 60px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }


  @media screen and (max-width: 800px){

    .custom-button {
      text-align: center;
      min-width: 75%;
      // width: 10px;
      height: 60px;
      letter-spacing: 0.5px;
      line-height: 20px;
      padding: 0 35px 0 35px;
      font-size: 10px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      border: none;
      cursor: pointer;
      // background-color: blue;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
