.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  padding-left: 22px;
  padding-right: 22px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px){
  .collection-preview{

    display: flex;
    padding-top: 90px;
    margin-bottom: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .preview{



      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;





    }



  }

}

