.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
@media screen and (max-width: 800px){
  .collection-item{
    display: flex;
    height: 200px;
    flex-grow: 1;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

    .image {


      width: 100%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    .collection-footer {



      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      .name {


        width: 60%;
        margin-bottom: 15px;
      }

      .price {



        width: 10%;
        padding-right: 5%;
      }
    }

  }
}