

.sign-in{
  width: 380px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;


  .title{
    //margin: 10px 0px;
  }

  .forMobileCreateAccount{
    visibility: hidden;
  }

  .buttons{
    display: flex;
    flex-direction: column;


    .spacing{
      height: 10px;
    }

  }
}

@media screen and (max-width: 800px){
  body#sign-in{
    margin-top: -30px;
  }

  .sign-in{
    width: 85vw;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15vw;
    font-size: 14px;

    .title{
      //margin: 10px 0px;
    }
    .forMobileCreateAccount{
      visibility: visible;
    }

    .buttons{
      display: flex;
      flex-direction: column;


      .spacing{
        height: 10px;
      }

    }

    .toSignUp{
      color: red;
      font-size: 20px;
    }
  }
}
