.sign-up{
  width: 380px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  .title{
    //margin: 10px 0px;
  }

  .buttons{
    display: flex;
    flex-direction: column;


    .spacing{
      height: 10px;
    }
  }
}

@media screen and (max-width: 800px){
  .sign-up{
    width: 85vw;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;

    .centeredButton{
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 160px;
      width: auto;
      height: 60px;
      letter-spacing: 0.5px;
      line-height: 20px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }


    .title{
      //margin: 10px 0px;
    }
  }
}