.directory-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;

}
@media screen and (max-width: 800px){
  .directory-menu{
    padding-top: 90px;
  }
}