.menu-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  margin: 0.5vw;
  justify-content: center;
  align-items: center;
  position: center;
  overflow: hidden;



  & .background-image{
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 300px;

  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.7;
    }
  }




  & .content {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 30vw;
    background-color: white;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    border: 1px solid black;



   & .title {
      font-weight: bold;
      padding-top: 8vh;
      font-size: 18px;
      color: black;



      }
   & .subtitle {
      font-weight: lighter;
      font-size: 14px;
      padding-bottom: 8vh;
      color: #4a4a4a;
    }



    }

  @media screen and (max-width: 800px){
    .content{
      width: 60vw;
    }
  }



  }

@media screen and (max-width: 800px) {
  .menu-item {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;


    &:hover {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;

      & .background-image {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
      }

      & .content {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }

  }

}