body{
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: white;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px){
    html, body {width: auto!important; overflow-x: hidden!important}
    body{
        background-color: white;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        padding-left: 0px;
        padding-right: 0px;
    }
}