body{
    background-color: rgb(240, 240, 240);
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px){
    body{
        background-color: rgb(240, 240, 240);
        background-size: cover;
        font-family: 'Open Sans Condensed', sans-serif;
        padding-left: 0px;
        padding-right: 0px;
    }
}